<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board lists</title>
</head>
<body>
    <h1>board lists</h1>
    <ul>
        {% for post in posts %}
        <li>
            <strong>{{post.title}}</strong><span>{{post.created_at}}</span>
            <a href="{% url 'board_update' post.id %}">수정</a>
            <a href="{% url 'board_delete' post.id %}">삭제</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>