<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h1>create new content</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <input type="text" name="title" placeholder="제목">
        </p>
        <p>
            <textarea name="content" placeholder="내용"></textarea>
        </p>
        <button type="submit">등록</button>
    </form>
</body>
</html>