{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <title>update</title>
</head>
<body>
    <h1>게시글 수정</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <input type="text" name="title" value="{{post.title}}">
        </p>
        <p>
            <textarea name="content" >{{post.content}}</textarea>
        </p>
            <button type="submit">저장</button>        
    </form>
</body>
</html>